[2015-08-10 07:12] aaronjensen opened #1 "README should not encourage using `toJS()`"
`toJS()` is not memoized, so it won't work with [`PureRenderMixin`](https://facebook.github.io/react/docs/pure-render-mixin.html).

It is slow(er than not using it) and it nullifies much of benefit of using immutable.js since it's going to be doing allocs every time state changes.

[2015-08-10 08:05] gajus commented on #1
The picture you have shared does not load. Please re-upload it.

[2015-08-10 13:04] gajus commented on #1
@aaronjensen Incorporated your feedback. https://github.com/gajus/redux-immutable#unpacking-immutable-state

[2015-08-10 13:04] #1 closed

[2015-08-10 14:26] aaronjensen commented on #1
Looks good. Sorry about the picture, i'll try again (but it looks like you got the gist any way):

![js bin - js bin 2015-08-10 00-09-18](https://cloud.githubusercontent.com/assets/8588/9173764/1bdac61e-3f31-11e5-922d-88e214332ca3.png)

[2015-08-12 16:41] klaasman opened #2 "more examples"
It would be nice to have more examples or an example-application which shows dispatching actions and the rendering of data in components.

[2015-08-13 13:06] gajus commented on #2
I have started making a simple todo app https://github.com/gajus/redux-immutable-examples. I'd appreciate if someone chip in with commenting the code.

This example shows how to use selectors with immutable state.

Will add an example of dispatching actions and using reducers.

[2015-08-13 13:48] gajus commented on #2
Added an example showing how to dispatch an action (`ADD_TASK`) & how to reduce the state.

[2015-08-14 14:31] gajus commented on #2
Extended example to show:

* How to use redux-immutable combineReducers.
* How to make a reducer using Immutable data.
* How to make a selector using Immutable data.
* How to use middleware.
* How to use react-hot-reload.
* How to structure app using Canonical Reducer Composition.

Raise an issue in the repository if more examples are needed.

[2015-08-16 02:28] sompylasar opened #3 "Action validator throws on an action without a 'name' property (like the ones dispatched by the 'redux-devtools')"
The ["Canonical Reducer Composition" validator](https://github.com/gajus/canonical-reducer-composition) checks every action object and [throws if a `name` property is missing](https://github.com/gajus/canonical/blob/master/src/validateAction.js#L13). But [`redux` uses another convention – it uses `type`, not `name`](https://github.com/rackt/redux/blob/master/src/createStore.js#L136), so no action

[2015-08-16 06:13] gaearon commented on #3
I don't think it's a Redux issue. "Type" is an established convention, at least in Flux world, that's where most of our conventions come from. There need to be very good reasons to break these conventions, and more so after we shipped 1.0 and lots of code is already written using "type". I think that's something for redux-immutable to reconsider.

[2015-08-16 06:32] gajus commented on #3
I have rewritten the test to check if action has `type` property and wether its value begins with "@@". These actions will be ignored, https://github.com/gajus/redux-immutable/commit/85852febc811ba3431ee4eaba64ba5f64f01b47c.

@gaearon Is right in a sense that:

This is also a convention defined in "flux-standard-action" spec. However, I have argued that "type" name as a convention [does not make s

[2015-08-28 03:29] chuangbo opened #4 "Reducer should be able to return a string or int or bool"
I tried to return string in reducers like
[code]

but I got a error says `Reducer must return an instance of Immutable`.

I think reducer should be able to return a string or int or bool because they are `immutable` already.

[2015-09-02 09:52] asaf commented on #3
@gajus This also breaks the logger middleware (it shows 'undefined' instead of the action type)
The community grow, middleware is the most pluggable way to extends Redux and is all about intercepting actions, if you don't get aligned with Redux convention things will just break,

At least make it configurable where default could be 'name',

(I guess we can just give the `combineReducers` a 2nd has

[2015-09-02 11:25] gajus commented on #3
@asaf Just an idea, but why not have a function at the top of the middleware chain that maps "type" to "name" in every action it receives? This way anyone can use whatever name they choose if they don't like "name" convention. I can write a quick middleware package for that.

The same middleware function could map other properties that do not meet the standard, such as "payload".

Does that sound

[2015-09-02 11:56] gajus commented on #3
A simplified version would look like this:

[code]

Where the mapper is something along the lines of:

[code]

[2015-09-02 12:09] sompylasar commented on #3
@gajus :+1:  I like this convention-conversion stuff.

[2015-09-02 12:17] gajus commented on #3
Ok. Will research certain aspects of the conversion (such as Error mapping) and release a package. Should be before the end of the day.

[2015-09-02 15:02] gajus commented on #4
You could easily avoid this if `seachTerm` was a subdomain, e.g.

[code]

and then defining a reducer that handles term manipulation:

[code]

I am thinking if there is any downside to implementing your suggestion. It bothers me that reducer can return anything thats not an instance of `Immutable`.

[2015-09-02 20:01] gajus commented on #3
https://github.com/gajus/canonical-reducer-composition/blob/master/README.md#flux-standard-action

[2015-09-02 20:01] #3 closed

[2015-09-04 08:34] asaf commented on #3
Agreed =)

[2015-09-04 09:40] asaf commented on #3
@gajus This is still problematic, as @gaearon mentioned, "lots of code is already written using "type"", this also means reducers are being written in the community and expecting type, conversion to 'name' won't satisfy,

IMO, If you aim CCA out of the redux community you can diverge, but if you aim for Redux, you should be compatible with its standards otherwise community code will break.

[2015-09-04 11:09] gajus commented on #3
I use CRC as well as CCA in all the projects that I develop. I am sharing the CRC spec. I am sharing some libraries with the open source world and provide a method of bridging the different conventions. Sounds fair to me.

[2015-09-10 20:21] jwdotjs opened #7 "Dist directory out of date? Cannot resolve module 'canonical'"
It looks like the dist directory is still referencing `canonical` in the combineReducers file, which no longer exists. Is that correct? Does it just need to be rebuilt and pushed to npm?

Full error: `Cannot resolve module 'canonical' in /{path}/node_modules/redux-immutable/dist`

[2015-09-10 20:29] newtack commented on #7
Encountered the same issue

[2015-09-10 20:30] gajus commented on #7
1.3.7 patch pushed. Sorry. Forgot to build.

[2015-09-10 20:30] #7 closed

[2015-09-10 20:35] gajus opened #8 "Separate the canonical reducer composition pattern from combineReducers"
This is a reminder for myself to look into implementing a `combineReducers` method that would work with Immutable.js data and a separate function that'd enable canonical reducer composition pattern.

The first bit is easy. The second bit in combination with the first option is tricky. One way of doing it would be as simple as providing two separate functions, `combineReducers` and `canonicalCombin

[2015-09-11 08:16] mattpetrie commented on #4
:+1: for allowing strings and bools. There are many instances where it makes sense for a reduce to return a string or boolean value, and having to wrap it in a single-key Immutable object just creates extra boilerplate.

[2015-09-16 10:08] maikdiepenbroek opened #9 "Redux 3.0.0 requires type property to be present in actions"
Since redux 3.0.0 action creators require the 'type' property not to be undefined, i've played around with it and just added it with the same value as the 'name' property to get rid of the error.

The error thrown:
Uncaught Error: Actions may not have an undefined "type" property. Have you misspelled a constant?

[2015-09-16 10:11] gajus commented on #9
I am working on separating `redux-immutable` into two packages. The base, which simply enables use of Immutable.js and canonical-reducer-composition mapper.

In the mean time, see https://github.com/gajus/canonical-reducer-composition#flux-standard-action.

[2015-09-16 10:16] maikdiepenbroek commented on #9
Ok, cool! Will look into redux-convention, thanks for the quick response :dash:

[2015-11-07 19:27] kzap commented on #9
using redux-convention converts the action to FSA but then validateAction.js throw an error: ncaught `Error: Action definition object must define "name" property.`

Since the action is now a FSA object ... or are we supposed to convert to FSA somewhere else?

I couldnt get the middleware to work

[2015-11-26 01:43] flyon commented on #9
+1, I tried the redux-conection middleware solution but can't get it to work.
I'm getting an error like this:

This is my first redux & first immutable project, I came to redux-immutable because I want to use some composition of my reducer, but the only solution I see now is giving all my actions both names and types, which is a bit ugly .. hmm

[2015-11-26 06:35] maikdiepenbroek commented on #9
When you add name and type to the action, you'll get a different warning telling you that unknown properties aren't allowed.

[2015-11-26 09:14] kzap commented on #9
Just use redux 2.x
On Nov 26, 2015 2:35 PM, "Maik Diepenbroek" <notifications@github.com>
wrote:

[2015-11-26 13:47] flyon commented on #9
Yes I noticed that name + type is not an option either.
Redux 2 meant downgrading React-redux aswell, so I ended up using a different package called immutable-reducers which now works perfect for me.

[2015-12-13 08:34] altaihero opened #10 "Error: Reducer definition object must begin with a domain definition."
Hello i got Error: Reducer definition object must begin with a domain definition.
how to fix this error i really want to use redux-immubtale

store/store.js
/////////////////////////////////////////////////////////////////////////////////////////////////
import {createStore} from 'redux';
import {combineReducers} from 'redux-immutable';
import Immutable from 'immutable';
import * as reducers from

[2015-12-15 11:20] channikhabra opened #11 "`CONSTRUCT` for creating initial state is not working"
This is my reducer:

[code]

[code]

This is how I am creating the store:

[code]

I was expecting to get what's returned by `CONSTRUCT` as `state.query`, but it fails with the error `Uncaught Error: Action parameter value must be an object.`

I think this is a bug. Please update me if I am missing something (/ doing something wrong).

[2016-01-04 21:35] viswaug opened #12 "redux-immutable and redux 3 initial state"
Sounds like the redux-immutable library is not needed when working with redux 3 and above. But I was wondering if a function such as the one below would still be needed to combine the reducers into one immutable map?

[code]

[2016-01-07 03:22] kayneb commented on #12
I agree, it seems like the note in the docs that Immutable.js works for Redux 3+ is false. One cannot pass an Immutable object as initial state to a reducer produced from Redux's `combineReducers` as:

[code]

Code excerpt:

[code]

[2016-01-13 17:07] adamcharnock commented on #10
I know issues are not really for support requests, but I'm having the exact same problem. I have yet to come across the specific concept of 'domains' in redux.

[2016-01-14 04:02] christiansakai commented on #12
I was confused because of the docs also. It needs to be stated that we can't pass an immutable object as initial state

[2016-01-20 07:09] jedwards1211 opened #13 "use withMutations for better efficiency"
I made my own reducer utilities for Immutable.js long before discovering this package, but I wanted to share an approach I think it might be helpful.

I was startled when looking into this package's code that `combineReducers` is just chaining `.set` calls.  AFAIK this is not nearly as efficient as `.withMutations`.  Moreover, when using `.withMutations`, the code becomes super-elegant.  For examp

[2016-01-20 07:23] jedwards1211 commented on #13
Let me rewrite the above using your terminology.  It would not be a huge leap to go from this code to a canonical reducer composition that uses `.withMutations`.

This function can easily be used to efficiently combine action map reducers as well; if what you pass to `combineImmutableReducers` is (abstractly speaking) a multi-level map of `domain -> action name -> action handler`, you just invert

[2016-01-20 07:32] jedwards1211 commented on #8
The function could have this form right?

[code]

Then you can pass in either the POJO or Immutable.js `combineReducers` implementation.

[2016-01-20 07:38] jedwards1211 commented on #8
This should work

[code]

[2016-01-20 07:55] jedwards1211 commented on #8
You know, the schema form looks nice, but compare it to nesting the `combineReducer` calls:

[code]

After all, this is equivalent to a project structure where domain handers are put in separate modules, and are reducer functions themselves.  The code comes out quite clean that way:

`domainHandlers/domain1.js` etc.
[code]

`appReducer.js`
[code]

I think gaearon intends for combineReducers to sta

[2016-01-22 13:51] boui commented on #12
Any updates here? I have used redux 3.0.5 and got the same issue..
Looks like it really doesn't work with Immutable.js.

[2016-01-25 20:40] gajus commented on #10
@altaihero Please format the issue.

[2016-01-26 15:48] altaihero commented on #10
i have solved my problem, thank for time

[2016-01-26 15:48] #10 closed

[2016-01-26 15:56] gajus commented on #10
Can you share the solution and format the original issue?

[2016-01-27 00:34] mclauia commented on #12
Seems like the claim that redux 3 works with Immutable might have only referred to the state object, not the combineReducers helper, which initializes the combined domain as a plain JS object:

https://github.com/rackt/redux/blob/master/src/combineReducers.js#L107
[code]

So your state object can take whatever form you want, but the core redux library doesn't provide a combination helper that supp

[2016-01-27 00:55] gaearon commented on #12
Note: if you have any issues with Redux itself make sure to file them in its repo.
We're happy to help: https://github.com/rackt/redux
You don't have to use this lib to integrate Redux with Immutable.

[2016-01-27 13:55] gajus commented on #12
@gaearon As you said, Redux already handles Immutabe.js objects. The only limitation is lack of support for the initial state as `Immutable.Map`. This is discussed in the following GitHub issue, https://github.com/rackt/redux/issues/1100. There are design issues associated with that, https://github.com/rackt/redux/issues/1100#issuecomment-163657235.

`redux-immutable` name is too generic for what

[2016-01-27 18:53] gajus commented on #12
[`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1) has been released that addresses my earlier suggestion.

[2016-01-27 18:53] #12 closed

[2016-01-27 18:54] gajus commented on #9
Not relevant in [`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1).

[2016-01-27 18:54] #9 closed

[2016-01-27 18:54] gajus commented on #13
Not relevant in [`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1).

[2016-01-27 18:54] #13 closed

[2016-01-27 18:54] gajus commented on #11
Not relevant in [`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1).

[2016-01-27 18:54] #11 closed

[2016-01-27 18:56] gajus commented on #4
Not relevant in [`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1).

[2016-01-27 18:56] #4 closed

[2016-01-27 18:56] gajus commented on #2
Not relevant in [`redux-immutable@2.0.1`](https://github.com/gajus/redux-immutable/tree/v2.0.1).

[2016-01-27 18:56] #2 closed

[2016-01-27 18:56] gajus commented on #8
When implementing the Canonical Composition Pattern module, reflect on suggestions/ issues in:

* https://github.com/gajus/redux-immutable/issues/13
* https://github.com/gajus/redux-immutable/issues/11
* https://github.com/gajus/redux-immutable/issues/9
* https://github.com/gajus/redux-immutable/issues/4
* https://github.com/gajus/redux-immutable/issues/2

[2016-01-27 20:17] maidiepe commented on #9
@gajus Cool, thanks for the update!

[2016-01-28 13:40] gajus commented on #12
@gaearon now that this update is out, can I ask you to replace `redux-immutablejs` with `redux-immutable` in http://redux.js.org/docs/introduction/Ecosystem.html#utilities?

The current implementation of `redux-immutable` is less opinionated (ironically, given the 1.0.0 version) and faster as asserted using [this primitive benchmark](https://github.com/gajus/redux-immutable/blob/5a5af3155073a4883f

[2016-01-28 23:44] gaearon opened #14 "Consider dropping dependency on Lodash"
Lodash isn't a tiny library so it's better not to drag it completely just for a couple of functions. `foreach`, `isEmpty`, `filter`, and `isUndefined` are easy to replace with plain JS constructs. If there is a real reason for using Lodash implementations, it would still be better to import individual functions.

Finally, what do you think about making `immutable` a peer dependency? We certainly n

[2016-01-29 00:27] gaearon commented on #14
Let's discuss in #27.

[2016-01-29 00:27] #14 closed

[2016-01-29 00:27] gaearon commented on #14
Whoops, I meant #15

[2016-01-29 16:18] mxstbr opened #17 "combineReducer broken in 3.0.2"
Fresh install of `redux-immutable`, double checked the `package.json` in the `node_modules` folder and it's definitely `3.0.2`.

Get the following errors when trying to use `combineReducers`:

[code]

Likely related to #15

[2016-01-29 16:36] gajus commented on #17
Sorry about that. Forgot to build the last release.

[2016-01-29 16:36] #17 closed

[2016-01-29 16:37] gajus commented on #17
v3.0.3 released.

[2016-01-29 16:37] mxstbr commented on #17
Cheers mate, thanks for the quick fix!

[2016-02-18 15:03] remojansen opened #19 "react-router-redux really needs a custom reducer?"
The [docs](https://github.com/gajus/redux-immutable#using-with-react-router-redux) say the following:

[code]

However, it [seems to be supported](https://github.com/reactjs/react-router-redux/issues/117).

Can you guys please clarify this?

Thanks!

[2016-02-18 15:07] gajus commented on #19
@remojansen The issue that you have referenced to says:

Which is exactly what the docs tell you do to: https://github.com/gajus/redux-immutable/tree/ac78103fc6939ef24c713f5a765f1b7187b9891c#using-with-react-router-redux

[2016-02-18 15:11] gajus commented on #19
Are you talking about reducer specifically?

I do not see how `react-router-redux` reducer can work with Immutabe.js data (https://github.com/reactjs/react-router-redux/blob/5f9b7ec3b2fa7e54a581b220e75aec23005b67ff/src/index.js#L36-L42):

[code]

[2016-02-18 15:18] remojansen commented on #19
I just saw that `syncReduxAndRouter` is now `syncHistory`. I get it now :smile: thanks for the help!

[2016-02-18 15:18] #19 closed

[2016-02-18 16:59] gaearon commented on #19
If you really want that part of the state to be immutable you can write your own reducer that does the same, and pass something like `state => state.get('routing').toJS()` to that function.

[2016-02-22 13:57] namjul opened #21 "About initialState"
I am wondering why redux-immutable has no default state. https://github.com/gajus/redux-immutable/blob/ac78103fc6939ef24c713f5a765f1b7187b9891c/src/combineReducers.js#L13

Redux `combineReducers` has a default value. https://github.com/reactjs/redux/blob/6870b826b6b1bea7e7aec67a4ed88d139bd382cd/src/combineReducers.js#L111

I tried to nest `redux-immutable` `combineReducers` but it throws `Cannot r

[2016-02-22 15:59] gajus commented on #21
What is the problem with explicitly passing `Immutable.Map()` as the initial value?

[2016-02-22 16:22] namjul commented on #21
thats fine, just pointing out that without it, it throws an error.
still it does not seam to work when nesting combineReducers.

[2016-02-22 16:23] namjul commented on #21
is probably thats fine, just pointing out that without it, it throws an error.

[2016-02-22 16:24] #21 closed

[2016-02-22 16:36] lukaskostial commented on #21
Shouldn't there be an option to let reducers (even those dynamically loaded) to define their initial state via default parameter ?

[2016-02-22 16:46] gajus commented on #21
Are you saying something different from what was already said?

[2016-02-22 16:54] lukaskostial commented on #21
The problem is when you dynamically load a module and want to updateReducers but don't what to update initialState (not sure if it's even possible but I'm not that familiar with redux yet). Plus your dynamically-loaded reducer is also produced by redux-immutable combineReducers.

[2016-02-22 17:15] gajus commented on #21
I am just not following you, at all. For me to further assist with this issue, I'd need a code example.

[2016-02-22 19:59] mathisonian opened #22 "nested combineReducers"
I'm having some trouble getting this library to work with my existing redux reducers. I believe the problem is that I am nesting multiple `combineReducers` calls in my root reducer.

So for a simplified example I have the following files:

[code]

[code]

When it tries to set the initial state of the complex reducer, it is passed in an undefined value from the root reducer and gives this error:

[

[2016-02-22 20:27] lukaskostial commented on #21
I'm sorry I didn't make myself clear. What I mean't is below:

[code]

This works OK with standard redux.

[2016-02-23 03:43] austinmao commented on #22
+1 I may be seeing the same issue. I am getting a `state.get is not a function` error. For me, I'm nesting a `combineReducers` from redux-immutablejs in a `combineReducers` in https://github.com/erikras/react-redux-universal-hot-example (which is not using immutable).

I've traced it as far as isolating the issue to this library's combineReducers because I have tried this with an empty reducer

[2016-02-23 23:19] jokeyrhyme opened #23 "react-router-redux 4 instructions"
I'm working from https://github.com/davezuko/react-redux-starter-kit if that helps explain my context.

This is the custom reducer I needed:

[code]

I had to read the following to figure this out:

- https://github.com/reactjs/react-router-redux/issues/298

- https://github.com/reactjs/react-router-redux/blob/v4.0.0/src/reducer.js

Also, I had to set up a custom "selectLocationState" selector to

[2016-02-23 23:31] jokeyrhyme commented on #23
https://github.com/reactjs/react-router-redux/issues/301

[2016-02-25 15:16] worldsayshi commented on #9
I did a middleware workaround for this limitation. Might be useful to someone:
[code]

The above code is slightly modified from when I tested it so might be typos.

[2016-03-01 10:59] gajus commented on #23
Documentation has been updated. Thank you for informing me. https://github.com/gajus/redux-immutable/blob/master/README.md#using-with-react-router-redux

[2016-03-01 10:59] #23 closed

[2016-03-01 19:45] holymonson commented on #22
Met the same issue too. When nesting `combineReducers`, `state` would be `undefined` if no nested `initialState` provided. `combineReducers from 'redux'`  can handle but this not, seems providing an default empty `Immutable.Map` when `state === undefined` would be a choice to fix it.

[2016-03-01 20:33] gajus commented on #22
Does anyone want to practise their PR skills?

[2016-03-01 20:54] mathisonian commented on #22
I'm happy to send a PR. Should be able to get something together today.

[2016-03-02 13:04] gajus commented on #22
v3.0.6 has been published

[2016-03-02 13:04] #22 closed

[2016-03-02 16:30] mathisonian commented on #22
thanks @gajus!

[2016-03-03 15:47] DanielAviv1 opened #25 "Uncaught TypeError: reducer is not a function"
Hey guys,
Thanks for an awesome repo,
I updated to the latest version and ran into this error,

Uncaught TypeError: reducer is not a function at combineReducers.js:51 ( using Webpack )

My code:

[code]

Only happens with the latest version,
Am I missing something?

[2016-03-08 04:34] pukapukan commented on #25
A reducer needs to be a function - but you're passing in an object.

http://redux.js.org/docs/basics/Reducers.html

[2016-03-08 08:32] DanielAviv1 commented on #25
Hey @pukapukan, Thanks for the answer, but still something is not quite clear to me..
redux-immutable supposed to work with canonical reducer composition right?
in the example given in redux docs there is no use of it,

in the CNC examples: [](https://github.com/gajus/canonical-reducer-composition)
they also passing an object to redux-immutable's combineReducers helper:

`reducer = {
    countries

[2016-03-08 09:46] gajus commented on #25
No. You are talking about redux-immutable v1.

[2016-03-08 10:36] DanielAviv1 commented on #25
Got it @gajus,
Thanks for the quick response,
When i use a regular reducer function, I get the state argument as a plain JavaScript object rather than Immutable.js instance.
Is this the default behavior? if so.. what are the benefits of using redux-immutable? and how to use it properly?
What are the best practices of writing complex reducers and use immutable.js instance as a state?
Do you have an

[2016-03-08 15:00] gajus commented on #25
@DanielAviv1 you will need to open a separate question (assuming one does not exist) for each of those questions.

[2016-03-08 15:00] #25 closed

[2016-03-10 10:25] DanielAviv1 opened #26 "Reducer state argument returns as a plain object"
Hey all,
When I use a regular reducer function, I get the state argument as a plain JavaScript object rather than Immutable.js instance.
Is this the default behavior?
if so.. what are the benefits of using redux-immutable? and how to use it properly?

[2016-03-11 18:01] gajus commented on #26
Please provide a code example.

[2016-03-16 03:32] fcmatteo commented on #26
I think I have the same issue, this is my code

`import Immutable from 'immutable'
import { LOCATION_CHANGE } from 'react-router-redux'

const initialState = Immutable.Map().set(location, undefined)

export default (state = initialState, action) => {
  if (action.type === LOCATION_CHANGE) {
    return state.set(location, action.payload)
  }
  return state
}`

`import { combineReducers } from 'redu

[2016-03-16 09:33] gajus commented on #26
@DanielAviv1 are you going to provide a code example? Otherwise, I will close the issue.

[2016-03-16 09:50] DanielAviv1 commented on #26
@gajus I had to use a plain js object as a store in my project, i have no code example to give at the moment but i'm currently trying to convert my project to redux-immutable structure, can you please wait one more day before closing?

[2016-03-16 11:23] DanielAviv1 commented on #26
Hey @gajus, Thanks for your patience, I managed to get all working, thanks a lot :)

[2016-03-16 11:23] #26 closed

[2016-03-16 11:31] DanielAviv1 opened #27 "canonical reducers?"
Hey all, is there any way to get an up to date working example of a simple redux-immutable app using canonical reducers?

[2016-03-16 14:43] fcmatteo opened #28 "Usage examples are out of date"
I think there's an error in the readme

[code]

should be

[code]

because otherwise it throws an error when 'locationBeforeTransitions' null.

In fact, in the last version of react-router-redux we have to pass the function to the syncHistoryWithStore

[code]

I didn't test it yet, I'll do it the weeekend, but if you agree I'll do a pull request.

[2016-03-20 22:15] vtambourine commented on #27
@gajus I can help you with an simple example and router example, if you don't mind.

[2016-04-19 11:06] Palid commented on #28
This works nicely. I'll try to do a PR with the readme changes for router as I had to spend a few hours into the projects to verify why it's not working with my JSPM config. ;)
[code]

[2016-04-21 06:31] jokeyrhyme commented on #23
The `syncHistoryWithStore` part in my original post (up the top) results in a brand new JavaScript Object each time, so which means the whole Immutable state in Redux will be brand new every time it executes (which is very regularly, even when the user does nothing).

I'll be updating the OP with example code from here:
- https://github.com/reactjs/react-router-redux/issues/314#issuecomment-190678

[2016-04-22 14:52] andynoelker opened #29 "React-router <Link> does not work"
I am using this package with `react-redux-router`. While manually changing the URL in my browser _does_ follow my routes and take me to the correct page, if I try to use the `<Link>` component provided by `react-router` (or even use the `push` action creator from `react-redux-router`) nothing happens. A link gets created and I can inspect and see it has the correct `href`, but clicking on it does

[2016-04-22 15:34] gajus commented on #28
The current README.md is up date.

@fcmatteo, @Palid can you confirm that you are happy with the current documentation?

[2016-04-22 15:37] gajus commented on #29
Need to confirm if documentation examples work as expected.

Related to: https://github.com/gajus/redux-immutable/issues/28

[2016-04-22 16:19] andynoelker commented on #29
@gajus Cool! So are you saying that there are other ways of using this package that aren't covered by the documentation?

[2016-04-22 16:28] andynoelker commented on #29
Actually looking over that issue, I am not sure that those changes affect my problem. As in, I notice that they suggest only going one level deep into the `route` object when syncing history with the store, but if I try that, I still have exactly the same results (manually entering URLs works, but `<Link>` component does not).

[code]

So I am not sure if that gets one step closer to uncovering th

[2016-04-26 13:32] jonathancalb commented on #29
I have exactly the same issue. When i go from the URL directly it works, but if y do `browserHistory.push(route)` or use a `Link` the route dosn't change.

[2016-04-28 02:44] nathanhoad commented on #29
I had exactly the same issue and ended up reading through https://github.com/reactjs/react-router-redux/blob/v4.0.2/src/sync.js and https://github.com/reactjs/react-router-redux/blob/v4.0.2/src/reducer.js

I then tried changing the `location` key to `locationBeforeTransitions` and `<Link>`s started working like they used to.

`reducers/routing.js`
[code]

Snippet from `store.js`
[code]

[2016-05-02 12:19] KamuelaFranco opened #31 "Result from combineReducers not Immutable data type"
Let me know if I'm doing the test wrong, but everything besides `combineReducers` passes this otherwise:

Mocha:

[code]

This test fails. What am I doing wrong?

[2016-05-02 13:25] gajus commented on #31
I don't know what `rootReducer` based on this code alone.

[2016-05-02 13:35] KamuelaFranco commented on #31
RootReducer:
[code]

And cardStack:
[code]

[2016-05-02 13:39] gajus commented on #31
`combineReducers` returns a function. Function is not an iterable. It is a function that is fed to [redux `createStore`](https://github.com/reactjs/redux/blob/e64573ecf9d470b41b476916e7375137863bb70d/src/createStore.js#L39).

[2016-05-02 13:39] #31 closed

[2016-05-02 13:44] KamuelaFranco commented on #31
There we go. Thank you. I have done this to correct my test:
[code]
Now everything passes. Thank you.

[2016-05-02 19:30] ianlovell opened #32 "Why does the root state object need to be immutable?"
I understand the benefits of `immutable.js` types for slices of the state that are updated by reducers, and therefore the performance benefit of performing a `shallowEqual` in `shouldComponentUpdate`, but what is the benefit of making the root state object an `immutable.js` type?

[2016-05-13 18:08] andynoelker commented on #29
I can confirm that the new changes to the documentation (mainly changing the reducer property to `locationBeforeTransitions`) have fixed the `<Link>` component and any issues I had directly pushing a path to the router.

[2016-05-13 18:08] #29 closed

[2016-06-26 17:35] varghesep commented on #32
I have the same question from the example being used.

[code]

If I have a few reducers like below:

[code]
 will all the states in the reducerA, reducerB, reducerC be Immutable.Map also? Or should I set the initial state for all those reducers as Immutable.Map?

[2016-07-03 10:43] beckend opened #34 "initialState rootReducer, serialise/ desialise state maintaining types"
Let's say I have a reducer with initialState:

myReducer

[code]

Then time to save to local store:

[code]

Then to restore it:

[code]

Then the reducer has been restored, but as a `Immutable.List` because of `Immutable.fromJS`:

[code]

Is there a good solution to retain the immutable types somehow?

[2016-07-03 11:25] gajus commented on #34
This question has little to do with `redux-immutable` itself and more with https://github.com/facebook/immutable-js/.

Regardless, it is an interesting issue, one that I did not even realise I have. : )

Quick Google search brought me to https://www.npmjs.com/package/transit-immutable-js

And thats http://blog.cognitect.com/blog/2014/7/22/transit an intro to Transit data interchange format.

This

[2016-07-03 11:26] gajus commented on #34
@beckend I would appreciate if you'd share your findings with others. Can you raise a PR?

[2016-07-07 12:42] kandros commented on #34
Same issue when serializing a Immutable.Set on the server and deserialize for hydratation on client, it becomes an Immutable.List

[2016-07-07 12:43] gajus commented on #34
@kandros I have suggested a fix. Is it still an issue?

[2016-07-25 02:18] AnnatarHe opened #36 "combineReducers in child reducers"
Hello, I am a beginner in redux and immutable.js

I found something weird with combineReducers.

When I use redux-immutable in child reducers. The error always there.

My Code is like this:

[code]

I notice that `redux.combineReducers` and `redux-immutable.combineReducers` are returned different things.

I want to know is how can I use `combineReducers` with child reducers.

Sorry for my English.

[2016-07-25 10:03] gajus commented on #36
Please provide a dump of `getReducersFromOthers()`.

[2016-07-26 02:23] AnnatarHe commented on #36
Oh, I know what I missed.

I forgot to rest the result from `getReducersFromOthers()` last day.

I do this, and merge result to **An Object**. It works.
All my fault  T_T
Thanks.

[2016-07-26 02:23] #36 closed

[2016-08-09 13:42] asvetliakov opened #38 "Can't use Immutable record as root state after upgrading to 3.0.7"
After upgrading to 3.0.7 i'm getting this error now:
[code]

[2016-08-09 14:11] gajus commented on #38
It appears that the package was published using `NODE_ENV=development`.

https://github.com/gajus/redux-immutable/blob/6f337063fcbb2a56c1438c9015a8438e54960b2a/.babelrc#L12

I am in the process of setting up [semantic-release](https://github.com/semantic-release/semantic-release). Will fix this issue as soon as that is in place.

[2016-08-10 11:50] sassanh opened #39 "Remove sourcemap directives"
Thanks for creating and maintaining this package.
Could you please remove sourcemap directives (`//# sourceMappingURL=index.js.map`) from compiled js files in `dist` directory. I'm using lots of packages in my project but only `redux-immutable` has these directives and it makes some minor but annoying problems with `browserify`.

[2016-08-10 12:03] gajus commented on #39
No, `sourceMappingURL` are there for a reason – to enable source maps.

What are the issue that this is causing?

Regardless, this sounds more like a Browserify issue.

[2016-08-10 15:25] sassanh commented on #39
The only issue with `browserify` is that it doesn't allow me to eliminate these sourcemaps . Look at this https://github.com/substack/node-browserify/issues/772.

Many libraries provide source maps, but they use embedded sourcemaps. The way `redux-immutable` is referring to a url as the source map forces me to serve the map files and I don't want to serve those map files. The thing is browserify c

[2016-08-10 15:53] gajus commented on #39
Not true.

[code]

This sounds like an issue of Browserify as opposed to anything else.

Using `sourceMappingURL` is the recommended way to add source maps to the distribution files. https://developers.google.com/web/updates/2013/06/sourceMappingURL-and-sourceURL-syntax-changed?hl=en

I will leave this open to see if anyone else stumbles across this issue. I cannot find many issue threads talking

[2016-08-10 17:35] sassanh commented on #39
Thanks for keeping this open.
You got it wrong, what I said is true, `browser-pack`, `factor-bundle`, `browserify`, `combine-source-map`, `convert-source-map`, `inline-source-map`, `core-js` and `source-map-support` all are modules that provide tools for providing source maps. If you eliminate these packages and change your ag command to `ag -l 'sourceMappingURL.{0,100}map'` (to eliminate the base

[2016-08-10 17:38] sassanh commented on #39
I'm sure if any of these packages had url source maps in their library files, I'd see warnings for them too as I'm not serving any files except the bundles I create with browserify (3 js files, no .map files.) I just wanna assure you that none of above packages are putting url source maps in the library files.

[2016-08-12 20:03] sarink opened #40 "reducer is not a function"
I keep running into the error `reducer is not a function`.

Not sure what I'm doing wrong? My `state` is a plain object and some of the keys within `state` are `Immutable`

_redux/modules/rootReducer.js:_
[code]

_redux/modules/routeReducer.js:_
[code]

_redux/createStore.js:_
[code]

[2016-08-13 00:00] gajus commented on #40
Duplicate of https://github.com/gajus/redux-immutable/issues/38

[2016-08-13 00:00] #40 closed

[2016-08-19 13:24] ponelat commented on #38
this is hurting me a little... is there a workaround?

[2016-08-19 16:25] gajus commented on #38
v3.0.8 has been published. Sorry for the delay.

[2016-08-19 16:25] #38 closed

[2016-08-19 16:51] ponelat commented on #38
awesome... I'll give it a bash!

[2016-08-25 13:37] Jbarget opened #41 "set-up help"
Hey there, just trying to convert a current app to deal with immutable state and running into some troubles. The state my components are receiving are still in the Immutable.js form.

[code]

Any help will be great as I cant seem to figure out where exactly im going wrong although I think its the way im orgainsing `configureStore.js` below. (I've taken the majority of the app out for simplicity)

[2016-08-25 13:40] gajus commented on #41
Thats expected.

You can either use instances of Immutabe.js in your components as you have received them, or you can convert them to plain objects in the (since you are using Redux) [`mapToState`](https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options) callback.

[2016-08-25 13:51] Jbarget commented on #41
oh gotcha! would you be able to point me to whats the best way of doing that as i've read `toJS()` isnt that performant

[2016-08-25 13:52] gajus commented on #41
There is nothing wrong with using `toJS` in this scenario. (As long as you limit the scope of selected data to only whats needed and not the entire state.)

[2016-08-25 13:52] gajus commented on #41
Please close the issue if it answers your question.

[2016-08-25 13:56] Jbarget commented on #41
it certainly does! really appreciate it!

although just tried this:

[code]

and getting `PersisterHOC.jsx?ed95:8Uncaught TypeError: state.get(...).toJS is not a function`
last thing :)

[2016-08-25 13:56] #41 closed

[2016-08-25 14:03] gajus commented on #41
This is unrelated to the original question and outside of the `redux-immutable` scope. Refer to Immutable.js documentation.

[2016-08-25 14:03] Jbarget commented on #41
👍

[2016-08-25 14:04] gajus commented on #41
(I would start by inspecting `state` value, and tracing its origin, since it doesn't look like it is an instance of `Immutabe`).

[2016-09-02 06:59] ic- opened #42 "Uncaught TypeError: reducer is not a function"
I have update the version 3.0.8 still exist

[2016-09-02 07:11] #42 closed

[2016-09-26 19:48] adjavaherian commented on #32
It looks like all the reducers passed to combinedReducers need to be a Map?

[2016-09-27 15:20] dfeblowitz opened #43 "selectLocationState function appears to cause render without state change"
I noticed the other day that my entire app was being rendered more frequently than expected. I eventually tracked this down to the Router component, which seemed to be rendering on every new action. I think the cause of this may be the `selectLocationState` function described in the docs, which invokes `toJS` on the routing state subtree. As I understand it, this creates a new JavaScript object ev

[2016-09-28 22:39] zavan opened #44 "v3.0.9 not on npm registry"
Hi, it appears that this package's last version, released more than a month ago, is not yet on the npm registry:

[code]

https://www.npmjs.com/package/redux-immutable

[2016-10-08 04:45] cameronroe opened #45 "Can you PR this into Redux?"
Is there a reason Redux wouldn't want to adopt this internally? Any chance it could be PRed into redux?

[2016-10-17 10:43] gajus commented on #43
Refer to https://github.com/gajus/redux-immutable/pull/33.

[2016-10-17 10:43] #43 closed

[2016-10-17 13:50] AlexisBarta commented on #41
@Jbarget I've got the same problem ` Uncaught TypeError: state.get is not a function` did you find a solution?

[2016-10-17 16:03] Jbarget commented on #41
Our front-end architecture changed so we didnt need to add immutable state management.
My original problem was that I wasn't accessing my state correctly

[2016-10-17 23:26] AlexisBarta commented on #41
@Jbarget Thanks for your answer.

[2016-10-20 12:33] SvenClauw opened #46 "Allow storing state as a Record"
Is there a particular reason you define your state as a Map?

Usually you know the state structure beforehand and it's not dynamic in any way plus it would make it easier to access the state (instead of using `get`).

The only downside I can see is that you need to create a predefined `StateRecord` containing all the state properties beforehand which you would pass to `combineReducers`. Each time

[2016-10-25 18:11] Architektor commented on #46
+1 for using Record

[2016-10-29 06:24] artola commented on #46
I do believe the record could be a nice solution to make it easier with redux-react-router

[2016-11-02 10:43] lileilei opened #48 "react-router getComponent func run store.replaceReducer() dead to"
immutable.js:1430 Uncaught RangeError: Maximum call stack size exceeded     =>   infinite loop

[2016-11-02 10:47] gajus commented on #48
What is the actual code thats triggering this?

[2016-11-02 11:03] lileilei commented on #48
example:
https://github.com/lileilei/react-redux-immutable/blob/master/src/routes/Login/index.js

[2016-11-02 11:10] gajus commented on #48
What is the actual code around the lines where the error originates?

[2016-11-02 11:17] lileilei commented on #48
injectReducer(store, {key: 'login', reducer})  func run store.replaceReducer()      replaceReducer lead to getComponents  infinite loop.  maybe  routing:locationReducer  error

[2016-11-02 11:19] lileilei commented on #48
Please, if not I can only remove it

[2016-11-02 11:23] gajus commented on #48
Sorry, I don't understand the issue.

However, check this out, https://github.com/gajus/redux-immutable/pull/33.

If you still have an issue, please add more details.

[2016-11-02 11:23] #48 closed

[2016-11-14 12:06] dreamcatcher081210 commented on #41
@Jbarget  在` redux-immutable`里是否对`set`方法进行了特殊处理从而使得在组件获取到的相应的JS Object？而`merge`方法没有进行特殊处理？

[2016-11-28 19:50] harrythedev opened #49 "Reducer is not a function ?"
I'm getting `uncaught typeError: reducer is not a function` from `combineReducers.js`. When I check `typeof reducer`, it is a function.

Does anyone know why I'm getting this error?

[2016-12-08 15:25] aclave1 commented on #49
@harrythedev Can you please post your code? It sounds like you're passing a single function to combineReducers, when you should be passing an object with reducers as its values. Check out the documentation for combine reducers here: http://redux.js.org/docs/api/combineReducers.html

[2016-12-09 08:54] L-Jovi commented on #32
I'm not clearly that what will be return from combineReducers method, plain object or immutable object?
I have some nest reducers seperately with define each child's initialState as Immutable,  and I still set initialState = Map({}) to root reducer,

but I notice that I can also through `(state) => {state.toJS()}` get all plain object in `connet()`, in my opinion, I should use `(state) => {state.t

[2016-12-09 09:46] L-Jovi opened #51 "some question of nesting multiply combineReducers"
sorry to trouble, I'm ensure how does `combineReducers` handle nested state object,

I mean if I define the state structure like below:

[code]

my state tree is like:

[code]

My question is,

1. is that `state` on top level immutable? I mean the whole state tree
2. is that each child immutable?  like `state.child1Reducer` or `state.child1Reducer.child2Reducer`
3. if I call once `state.toJS()` in

[2016-12-13 09:37] lsunsi commented on #45
I think it doesn't make much sense for redux to adopt this internally because it's just an extension for a particular State type option. Redux is minimal and agnostic in almost everything it can be, so I think this is fine as a separate repo.

[2016-12-13 09:58] #45 closed

[2016-12-14 20:21] anthonator commented on #44
Same for 3.0.10

[2016-12-14 20:32] gajus commented on #44
https://github.com/gajus/redux-immutable/commit/2481225fda9b81909c842d81a8febd4d3c23a41e

[2016-12-14 20:32] #44 closed

[2017-01-11 05:22] adasfan opened #52 "does redux-immutable expect reducers to be part of the state?"
If I pass an `initialState` like so `createStore(combineReducers({reducer1, reducer2}), initialState)`, I get:

When I look at my state which is defined as `Immutable.Map`, I see `reducer1` and `reducer2` keys at the roots. Does `redux-immutable` reconstruct state by creating root keys using the reducer names?

[2017-01-11 11:19] gajus commented on #52
This is only a warning. The full error reads:

It says that there are reducers without corresponding state.

It does.

https://github.com/gajus/redux-immutable/blob/7ceccf8e9d74fbcd636c5fc911b6697cfdc1468e/src/combineReducers.js#L24-L32

[2017-01-11 11:19] #52 closed

[2017-01-11 11:21] gajus commented on #51
Yes

Yes

If you pass them state as a plain object, then yes. You shouldn't do this. It would negate the purpose of using `redux-immutable`.

[2017-01-11 11:21] #51 closed

[2017-01-11 11:24] gajus commented on #49
Note that the error originates in `combineReducers.js`, which is part of `redux-immutable`, not your code base.

There can be multiple reasons why you'd get this error. One, as @aclave1 said, is if you are passing a function to the `combineReduncers`. It could be also if you are passing a plain object instead of `Immutable.Map`.

[2017-01-11 11:24] #49 closed

[2017-01-11 11:34] gajus commented on #46
@SvenClauw I don't see a particular reason why this couldn't be done.

Would you like to raise a PR?

It would involve:

* updating code, tests, docs of https://github.com/gajus/redux-immutable
* updating https://github.com/gajus/redux-immutable-examples

[2017-01-11 11:35] gajus commented on #39
`//# sourceMappingURL=index.js.map` has been removed from `./dist`.

[2017-01-11 11:36] #28 closed

[2017-01-11 11:39] gajus commented on #27
The last release that supported canonical reducer composition pattern was [v1.3.7](https://github.com/gajus/redux-immutable/tree/1.3.7). It has been since removed to enable others use Immutable.js with redux without enforcing a particular pattern.

As far as I know, there isn't any abstraction that enables canonical reducer composition pattern today.

[2017-01-11 11:39] #27 closed

[2017-01-11 11:41] gajus commented on #34
For the record, I have been using [transit-immutable-js](https://www.npmjs.com/package/transit-immutable-js) in production for a while now. There are no downsides to it, other than a relatively large bundle size addition.

[2017-01-11 11:41] #34 closed

[2017-01-11 11:49] gajus commented on #32
I cannot think of any from the perspective of performance.

Its been a while, but I think it was done for code consistency – if we are assuming that all descending state is an immutable object, then it is reasonable to assume that most of the time the resulting reducer will be invoked with an immutable state.

This is visible in the code, https://github.com/gajus/redux-immutable/blob/7ceccf8e9d74f

[2017-01-11 11:49] #32 closed

[2017-01-11 11:50] gajus commented on #8
The canonical composition pattern has been removed from `redux-immutable`.

As far as I know, there isn't an existing abstraction that implements the [Canonical Reducer Composition](https://github.com/gajus/canonical-reducer-composition) pattern.

[2017-01-11 11:50] #8 closed

[2017-01-11 14:31] adasfan commented on #52
Thanks @gajus . Just a quick follow-up, so is it recommended/normal practice to pass parts of the state to the components as follows:
`export default connect(state => ({
    products: state.getIn(['reducer1', 'products']),
    inStockOnly: state.getIn(['reducer2', 'isInStockOnly'])
}))(ProductTable);`

`products` and `isInStockOnly` are keys of the state map before the reconstruction. Or is there

[2017-01-11 14:32] gajus commented on #52
Your example seems to be valid.

[2017-01-11 14:58] adasfan commented on #52
what would be the preferred form of the `initialState` that is passed to `createStore`? If I pass it in `Immutaple.Map` form it warns about not finding the keys in the form of reducer function names.

[2017-01-13 14:24] callumsteele4 opened #53 "React-router-redux selector documentation issue"
I was having trouble implementing redux-immutable with react-router-redux using the selector described in the README.md.

I would receive the following error:

[code]

I believe this is because the example is only converting the routing state shallowly, and can be fixed by using:

[code]

instead of:

[code]

[2017-01-13 14:25] gajus commented on #53
@callumsteele4 can you confirm that `toJS` works?

[2017-01-13 14:26] callumsteele4 commented on #53
Its working for me with this change. Want me to submit a PR changing that in the README?

[2017-01-13 14:30] #53 closed

[2017-01-18 16:14] Egidius opened #54 "Update from 3.0.9 to 3.0.10 causes flow-runtime errors"
Not sure whether this is the right place, but ran into got the following scenario and I at least want to mention it in case others run into the same problems:

I got this repo which is statically typed using Flow. Recently I decided to update some packages, including redux-immutable: from 3.0.9 to 3.0.10. Right after this update I got the following list of when kicking off my webpack build:

[code

[2017-01-18 16:21] gajus commented on #54
You need to ignore those files.

Add this to your `.flowconfig`:

[code]

[2017-01-18 16:21] #54 closed

[2017-01-21 05:34] tylerhou opened #55 "Link in README to combineReducers documentation is broken"
The combineReducers link links to a "flash is out of date" scam website.

[2017-01-21 05:36] tylerhou commented on #55
On further clicks all I get is a squatted webpage; they probably keep track of visitors so people can't repo.

[2017-01-21 11:32] gajus commented on #55
wow :-(

rackt.org used to be a legitimate website. It has been superseded by http://redux.js.org/, though.

[2017-01-21 11:32] #55 closed

[2017-01-21 11:32] gajus commented on #55
Fixed in https://github.com/gajus/redux-immutable/commit/ef95223d712257ad1242081ac8f1398c56f52eef

[2017-02-03 14:00] sassanh commented on #39
@gajus it's still there in 3.0.11 (released 3 days ago), should I wait for next version?

[2017-02-06 08:32] reimertz commented on #46
I would be interested in helping out with this to learn more about Immutable.js.

Could you give me some help where to start and what I might need to know inorder to help out?

[2017-02-14 19:09] BATMAH69 opened #59 "Import state from redux-devtools not work"
When I try import state from file via redux-devtool - error happen.
`inputState.withMutations((temporaryState)...`
`^^^^^^^^^^ - Object`
https://github.com/gajus/redux-immutable/blob/master/src/combineReducers.js#L22
It might be useful to add a third argument in combineReducers.

For example in my case:
file
`const fixer = state => Immutable.fromJS(state); // if state already immutable it do nothi

[2017-02-15 19:17] Velenir commented on #59
Do you mean you import a state from a `state.json` file? Are you using [redux-devtools-extension](https://github.com/zalmoxisus/redux-devtools-extension)? If yes, give [`serialize.immutable`](https://github.com/zalmoxisus/redux-devtools-extension/blob/master/docs/API/Arguments.md#serialize) option a try.

If you are only using pure [redux-devtools](https://github.com/gaearon/redux-devtools), then

[2017-02-16 21:23] BATMAH69 commented on #59
Thank you for the detailed answer.
Yes, it was about  redux-devtools-extension in this case and serialize.immutable option solve my problem.

It might be useful to add a link to answer in [warning message](
https://github.com/gajus/redux-immutable/blob/master/src/utilities/getUnexpectedInvocationParameterMessage.js#L14), to simplify the search.

Add error text for search engine:
The previous state

[2017-02-19 08:48] #59 closed

[2017-02-20 23:12] gajus commented on #59
Thank you @Velenir.

[2017-02-22 06:29] ksnyde opened #60 "combineReducers not imported"
I'm attempting to use the `combineReducers` implementation provided here and use the suggested import syntax of:

     import { combineReducers } from 'npm:redux-immutable';

I get no errors on the **import** but if I log out the result of `combineReducers` I get _undefined_ instead of a function. This is probably my error but any help you might have would be greatly appreciated.

[2017-02-22 19:23] Velenir commented on #60
I don't think **browserify** supports ES6 modules by itself. And the `'npm:*'` syntax. Are you using it with something like [**ember-browserify**](https://github.com/ef4/ember-browserify#known-caveats)?

Then your issue may be [this one](https://github.com/ef4/ember-browserify/issues/40#issuecomment-214965960). ~~Solution~~ Workaround -- don't use named imports, no other way.

If anything, you cou

[2017-02-22 21:23] ksnyde commented on #60
yeah I'm using `ember-browersify` (guess I should have just said that). I'll try the destructuring approach now, the rollupify might be a fun weekend project.

[2017-02-22 21:34] ksnyde commented on #60
It appears destructuring will be an adequate solution for now, thanks for the pointer.

[2017-02-22 21:34] #60 closed

[2017-02-23 12:18] sassanh commented on #39
@gajus it's still there in 3.1.0 (released a week ago).

[2017-02-23 12:23] sassanh commented on #39
Take a look at this just as an example: https://github.com/reactjs/redux/blob/master/package.json it's not generating sourcemaps. Maybe we need a build-dev that generates sourcemaps only for repo's developers.

[2017-03-14 05:09] jpdesigndev commented on #46
Head up!

Using: [Immutable v4.0.0-rc.2](https://github.com/facebook/immutable-js/releases/tag/v4.0.0-rc.2)

The [following](https://github.com/gajus/redux-immutable/blob/b0ed54c912c9b1d0468194b0e31524a4309d1ede/src/utilities/getUnexpectedInvocationParameterMessage.js#L13) check  fails when using an `Immutable.Record` as default state:

[code]

[2017-03-14 17:53] #46 closed

[2017-03-15 19:30] ksnyde opened #62 "Reducer is not a function (within state tree)"
Loving the ReduxImmutable library and using it's implementation of `combineReducers` for my root state without problem. However, I have a node off the state tree called **forecast** which I'd like to further separate into a set of reducers with the following:

    import ReduxImmutable from 'npm:redux-immutable';
    const { combineReducers } = ReduxImmutable;

    import meta from './forecast/met

[2017-03-16 09:11] Velenir commented on #62
Can one of the reducers you are combining (`meta, history, versions`) be not a function? They must be proper reducers of `function(state, action)` kind.

[2017-03-28 04:56] nathancahill opened #63 "Add build option for es modules"
Redux (and a lot of other React libs) have a ES2015 modules version of the build: https://github.com/reactjs/redux/blob/master/package.json#L24

This is really handy for tools like Rollup, since the `"module"` key in package.json can be pointed at `./es/index.js`. I'm using a fork of redux-immutable with these builds and it works well.

Would you consider a PR that adds multiple build outputs to m

[2017-03-28 08:13] gajus commented on #63
Whats the benefit of that in the context of `redux-immutable`?

`redux-immutable` utilises all the files that it loads. `roll-up` cannot remove anything.

[2017-03-28 08:19] Velenir commented on #63
Does `rollup` implement tree shaking? Then maybe it can remove something in production.

[2017-03-28 08:40] gajus commented on #63
Remove what? rollup is relevant only if it can determine (statically) that something is not being used. Tree shaking will be of value only to large libraries (think lodash). Purpose built libraries like `redux-immutable` have no benefit in using rollup (unless they themselves have big dependencies).

[2017-03-28 09:16] Velenir commented on #63
You're right. At best it could get rid of `utilities/getStateName`.

[2017-03-28 15:18] nathancahill commented on #63
The benefit of including a `"module"` build in Redux-Immutable is that Rollup only looks at import/export statements to determine which dependencies to include. In this case, if Immutable were globally available, it would still be included in a bundle that uses Redux-Immutable, because Rollup doesn't understand the require('immutable') statement. It also speeds up the build process, since ES2015 m

[2017-03-28 15:41] gajus commented on #63
I am all pro-rollup approach, I am just not happy with the-Rollup. I think the user base is too insignificant to cater for. This will land in one shape or form in Node.js v8 and webpack v3.

[2017-03-28 15:47] nathancahill commented on #63
What I'm proposing isn't specific to Rollup. It's good practice for any library. Especially since it would match the rest of the React ecosystem.

[2017-03-28 16:13] gajus commented on #63
`jsnext:main` `package.json` field is rollup specific. Of course, correct me if I am wrong.

[2017-03-28 16:38] nathancahill commented on #63
`jsnext:main` is [now superseded](https://github.com/rollup/rollup/wiki/jsnext:main) by the  `module` key, which is used to specify the es2015 entrypoint. Although Rollup proposed the original idea, Webpack 2 now supports the standard. This is the direction libraries are going. See the long discussion here: https://github.com/webpack/webpack/issues/1979

[2017-03-31 19:25] nathancahill commented on #63
So before I publish a fork on npm, that's a hard no on adding es modules to your build?

[2017-03-31 23:48] gajus commented on #63
Go ahead with a fork.

I will need to read up about the module situation in Node.js land today and whats the consensus and long term strategy. This is not going to happen today or tomorrow.

[2017-04-13 02:33] nhuthuynh opened #64 "State is undefined, can not get initial state"
Hi guys,

i'm trying implement redux immutable in my project but i got stuck at connect mapStateToProps because the state returned from redux is Map object from ImmutableJS and i can not access user property also other properties in state by `state.user` or `state.get('user')` . So i posted my code here and need some advice from you guys, thanks in advance! Here is my code:

**folder: store/config

[2017-04-18 13:40] OriaLogic opened #65 "Trying to make it work with redux-auth"
Hi,

This is not an issue but rather a question.
I am trying to make redux-auth work with redux-immutable. There is an issue because redux-auth tries to access the "auth" part of the state through `state.auth`, which of course does not work.

I would like to define a getter allowing access to `auth` via `state.auth` every time the state changes by doing:
[code]

That would fix this [known issue](h

[2017-06-26 13:36] stevematdavies commented on #52
I have absolutely no idea, about this warning, Im getting it, and its stopping the app from loading. Sadly from here, and in True redux fashion, the explanations are far too obscure to follow.

[2017-06-30 18:52] JustFly1984 opened #66 "Why can't I use Immutable.Record as initialState in rootReducer?"
As I can see in [https://medium.com/@fastphrase/practical-guide-to-using-immutablejs-with-redux-and-react-c5fd9c99c6b2](https://medium.com/@fastphrase/practical-guide-to-using-immutablejs-with-redux-and-react-c5fd9c99c6b2) It should be possible to use Record as `initialValue`, but using `combineReducers` I get an Error, if I use `Immutable.Record` instead of `Immutable.Map` in `redux` `createStore

[2017-07-19 11:42] nihaux opened #67 "Changelog ?"
Would be great to have one (wanted to upgrade from 3.x to 4.x) :)

[2017-07-19 11:43] nihaux commented on #67
Spoke too soon, BC are described in the release tab 👍

[2017-07-19 11:43] #67 closed

[2017-08-07 08:03] JM-Mendez commented on #66
Immutable records cannot be instantiated generically like map can. Have you tried to create a record, and then instantiate the initial state like so? I set the default values to undefined, but they can be anything you'd like.

[code]

[2017-08-14 19:02] lovetingyuan opened #68 "please offer a browser built version"
you should include a browser built file in your dist directory with an umd format, thanks

[2017-08-14 20:40] gajus commented on #68
I don't see a good reason to do that.

[2017-08-14 20:40] #68 closed

[2017-08-15 03:58] lovetingyuan commented on #68
it is a convention，because the lib is not only used for ssr but also for browsers
most popular libs usually offer an umd build version even an es one
now, your lib can not run without building tools(webpack, browserify...), thanks

[2017-08-15 22:28] JM-Mendez commented on #66
Had to come back here cuz I just realized something. I wouldn't recommend using an immutable record for the state tree. Records don't allow the set method after creation, so you'd have to recreate the entire tree for every dispatch action.

[2017-08-17 09:30] JustFly1984 commented on #66
Got it. So Records in Redux state is wrong way.

2017-08-16 6:28 GMT+08:00 John Mendez <notifications@github.com>:

[2017-10-01 12:05] kopax opened #69 "How to add non immutable store when combining reducers"
Hi, thanks for redux-immutable.

I am trying to mix immutable reducer and classic reducer.

I have tried to tweak the `combineReducer.js` like this :

[code]

And mix my reducer like this

[code]

But that doesn't work very well. Any Idea how I could achieve this ?

[2017-12-03 05:15] cramatt commented on #69
I'm having this issue too, trying to use https://github.com/KELiON/redux-async-initial-state

[2017-12-25 08:32] jedwards1211 commented on #13
@gajus nice to see you finally took my suggestion ;)

[2018-02-28 09:16] Poirette commented on #66
@JustFly1984 Can you please, explain what does he mean by

https://facebook.github.io/immutable-js/docs/#/Record/set

Am I missing something ? I started to make records for my reducers's states, mostly to be able to type them with flow (since the Maps shape can't be typed).

Please, tell me it's ok with Immutable v4... I'm starting to think that Immutable is not a library you want in your redux ap

[2018-02-28 11:06] JM-Mendez commented on #66
You can use records in your redux app. The immutable api set method on Record collections works just fine. But the OP wanted to use records in order to use dot notation, and that only works for accessing property values, not setting them. Which means he'd still be forced to use the immutable api.

[code]

Also, you have to explicitly create each record instance with every single property value whe

[2018-04-09 17:57] arminsal1 commented on #64
Hi @nhuthuynh I am having the same issue. Did you find a solution or a workaround?

[2018-04-20 08:57] apaatsio commented on #64
@nhuthuynh You are (were?) using [indexiatech/redux-immutablejs](https://github.com/indexiatech/redux-immutablejs). It's a different package. This is [gajus/redux-immutable](https://github.com/gajus/redux-immutable).

[2018-05-08 13:53] easingthemes commented on #68
Some of the reasons:
1. Fast demo setup
2. Create and share examples in `jsfiddle`/`codepen`.
3. Create app without build tools
4. Play with it in browser console

I've rebuilt the whole react/redux/thunk/reselect/immutablejs .... app in one file for presentation, and this was the only library not available trough cdn.

[2018-05-08 14:37] gajus commented on #68
Just 👍 the issue. If there is enough demand, I will do it.

So far you are the only two people to voice the requirement in 2 years this library existed.

[2018-06-08 01:57] andrewmclagan opened #72 "bump dependancy to rc9"
We are using without error `immutable-rc9`

Should we bump the peer dependancy

`"immutable": "^3.8.1 || ^4.0.0-rc.1",`

`"immutable": "^3.8.1 || ^4.0.0-rc.9",`

[2018-06-22 14:01] xomyaq commented on #66
@JM-Mendez, hi! Sorry for unrelated question: can you please provide an example of typing Map on top level state? Thank you :)

[2018-06-22 19:40] JM-Mendez commented on #66
@xomyaq sure. You can type your maps at any level like this.

[code]

[2018-08-14 13:25] vsnikkil commented on #68
@gajus this is **essential** for old development environments (e.g., when using requirejs). I can do PR if I have time to finalize my rollup configuration

[2018-08-14 20:04] gajus commented on #68
Sorry, no plan to support it.

[2019-04-25 15:23] rahamin1 commented on #69
@kopax @cramatt Have you found a solution?

[2019-04-25 16:03] kopax commented on #69
We stopped using redux-immutable. Instead, if library used redux-immutable only, we can still plug a redux-immutable store to the root non immutable store.

I will recommend to always have a root non immutable store. This should be best practice.

[2019-04-25 16:14] rahamin1 commented on #69
@kopax Thanks for your reply.

Any idea how to do it? I tried but failed.
See my question here:
https://stackoverflow.com/questions/55852422/combining-immutable-reducer-regular-reducer

[2019-04-25 16:48] gajus commented on #69
I have not used Redux for a long time. Can you explain what is the reason you do not recommend having root store immutable? This suggestion makes sense if there is a requirement for interoperability with third party libraries.

[2019-04-25 16:51] rahamin1 commented on #69
I know that the question is directed to @kopax, for me either way is fine, as long as I can mix immutable with regular objects.

[2019-04-25 18:56] kopax commented on #69
@rahamin1 you must use the `combineReducer` from `redux` and you will have a root non immutable.

@gajus ImmutableJS is a smaller community, it splitted the redux community which is bad. We developer want to keep things simple and this could have been solved long ago if the `combineReducers` from this package would have never existed.

[2019-04-26 06:03] gajus commented on #69
I don't get your point. Are you suggesting not to use ImmutableJS at all?

[2019-04-26 09:10] kopax commented on #69
What I mean is If you do use `import { combineReducers } from "redux-immutable";` to create the root store then you are doing wrong.

I am suggesting to not suggest that to users.

[2019-04-26 09:25] gajus commented on #69
I understand what you are suggesting, I don't understand your arguments.

I am not defending `redux-immutable`. I am not even using redux anymore. If there is a valid reason to deprecate `redux-immutable`, then I am happy to do it. But it cannot be a because of style preference or community size; it needs to be a well argumented technical reason, such as incompatibility with X, Y, Z.

[2019-04-26 11:40] kopax commented on #69
@gajus, the main concern is how to join the two community.

I see it fairly simply. If you do have a root immutable store, then it will not happen.

You should suggest users to use `combineReducer` from `redux` and never use `fromJS` on the root store for that reason.

[2019-04-26 11:58] gajus commented on #69
There is really no need for Redux. By now I have oversaw development of/ developed hundreds of React apps, and the benefits provided by Redux (to an avg. size application) are incredibly marginal compared to the boilerplate that is required to implement it. I use `react-apollo` + `useState`.

[2019-05-04 11:08] enheit opened #74 "Wrong return type of combineReducers"
Hello,

I am using `redux-immutable` with `TypeScript` and found this issue.

The `combineReducer` (provided by `redux-immutable`) returns a plain object instead of `Immutable.Collection`.

<img width="609" alt="Screen Shot 2019-05-04 at 2 07 41 PM" src="https://user-images.githubusercontent.com/8645216/57178238-0de7c480-6e76-11e9-9b49-37d25c254175.png">

[2019-05-27 08:43] 1208286395 opened #75 "inputState.withMutations is not a function"
TypeError: inputState.withMutations is not a function

[2019-05-27 19:27] gajus commented on #75
Unclear what is being reported.

[2019-05-27 19:27] #75 closed

[2019-06-02 16:07] zcmgyu commented on #59
In my case, initialState in createStore is still is Object
const store = createStore(
  reducer,
  Immutable.Map({}), // THIS WOULD FIX MY PROBLEM
  applyMiddleware(thunk, logger)
);

[2019-07-30 08:25] lcoder commented on #74
Would you help me fix typescript types error with `combineReducers` ?

[demo](https://codesandbox.io/s/quirky-greider-vuysv)

[2019-08-06 22:50] dyllandry commented on #74
I am having this issue as well.
Like enheit wrote, redux-immutable's `combineReducers()` return type is a plain object, despite when in practice it actually returns a `Immutable.Collection`.

Because of this, I cannot use `.toJS()` with type safety on the root state object. Typescript thinks the root object is a plain object. I want to serialize the application's state and save it using local stor

[2019-08-07 02:44] dyllandry commented on #74
I've done a little digging.
**node_modules/@types/redux-immutable/index.d.ts**
[code]

Each of these TypeScript function declaration overloads for redux-immutable's `combineReducers()` returns a `Redux.Reducer` type with at minimum a generic parameter `<S>`. While `combineReducer()` returns a `Redux.Reducer` type, `Redux.Reducer` returns that generic `<S>` parameter. Meaning, whatever `<S>` is whe

[2019-08-07 16:33] dyllandry commented on #74
I think the reason why I cannot set generic parameter `<S>` to be my desired return type of `Immutable.Map` is because the first parameter of `combineReducers()` must be a `Redux.ReducersMapObject` type which uses generic type `<S>` to describe it's own type. However, that description of `Redux.ReducersMapObject` is as follows.
[code]
`[K in keyof S]: Reducer<S[K], A>` cannot be an `Immutable.Map`

[2019-08-07 17:24] dyllandry commented on #74
I wrote a root reducer function by hand to get it to return the root application state as an `Immutable.Map`. Any time I add a new reducer to my root state I'll need to type it here as well.

[code]

[2019-08-08 03:52] lcoder commented on #74
You can try wrap the `rootReducer` with `Record`
[code]

[2019-08-19 11:47] enheit commented on #74
I think it works only one level deep.

.If you try to get some properties one level deeper it will gives you wrong types (at least Visual Studio Code doesn't provide autosuggestion).

Correct me if I wrong.

[2019-08-20 01:36] lcoder commented on #74
In my project,I think it works well.

autosuggestion:
![image](https://user-images.githubusercontent.com/5225853/63310471-6e1f4b00-c32d-11e9-917f-e27ca15e583c.png)

correct types with deep levels:
![image](https://user-images.githubusercontent.com/5225853/63310488-82fbde80-c32d-11e9-87a8-ecc8797e2f1c.png)

But，It has a limit。autosuggestion can't works fine with `getIn` method。

autosuggestion does

[2019-09-09 10:03] GengPeng951 commented on #74
![image](https://user-images.githubusercontent.com/54387281/64522159-fccf2880-d32b-11e9-8e2c-2d58b2090b0a.png)
![image](https://user-images.githubusercontent.com/54387281/64522160-fccf2880-d32b-11e9-8256-b688b605522a.png)

[2019-10-29 22:44] binarykitchen commented on #75
Think I am seeing this too on IE11. This error

[code]

[2019-10-29 22:46] binarykitchen opened #77 "Is this repo still maintained?"
immutable-js underwent many changes recently but not redux-immutable. Wondering if it's still maintained and compatible with latest immutable-js?

Cos I am seeing lots of errors when on IE11 ... for a starter this one

[code]

Using the combineReducers fn from latest redux-immutable v4 here

[2019-10-29 23:00] gajus commented on #77
It is your responsibility to meet the peerDependency requirements.

https://github.com/gajus/redux-immutable/blob/8593b891f955148be650292fadb65c90348ad4db/package.json#L21

It is maintained to an extent that PRs will be marked and released.

[2019-10-29 23:00] #77 closed

[2019-10-30 00:03] binarykitchen commented on #77
Thanks for your quick response. Yeah I do meet the peerDependency requirement. Although the IE11 error still happens:

[code]

[2020-06-05 11:31] pavittar95 opened #78 "how to use redux hooks with redux-immutable?"
I'm trying to access redux state in function component using useSelector redux hook. But I'm getting error
`Uncaught TypeError: Object(...) is not a function`

[2020-06-12 19:37] gajus commented on #78
This repository is not actively maintained. If you have a use case for `redux-immutable`, I invite contributors.

[2020-06-12 19:37] #78 closed

[2020-11-09 02:07] carvinlo opened #79 "Think I am seeing this too on IE11. This error"
When I use the `combineReducers` function in `redux-immutable`, I get an error in ie11

[code]

_Originally posted by @binarykitchen in https://github.com/gajus/redux-immutable/issues/75#issuecomment-547662269_

[2020-11-09 06:33] carvinlo commented on #79
I found out the problem. After upgrading the immutable library, the objects wrapped by `fromJS` do not inherit the Map class.

[2020-11-09 06:33] #79 closed

[2022-01-16 00:22] pcdummy commented on #74
combineReducers.ts:

[code]

[2022-02-09 07:24] msageryd commented on #69
@kopax Would you mind sharing how managed to **stop using redux-immutable**?
I want to get out of it too, but I need to convert this live in production, i.e. I would like to read the store as Immutable and write it back as JS. I will still have a bunch of Immutable slices, those will be converted later. The root is the biggest problem.

[2022-04-19 16:56] AlexeiDarmin commented on #69
@gajus I'm currently looking to migrate from immutable to immer, and as a consequence I'll be migrating a store towards one that has some slices in ImmutableJS, and others in vanilla JS. The code base is huge and it would be impossible to do a 100% overhaul safely.

Ideally, the combine-reducers function would be able to identify if the slice is immutable or JS and handle it accordingly.

I'm earl